@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model MJ.Models.UserInfo
<h2>Index</h2>
<table class="table">
    <tr>
        <td>@Model.Id</td>
        <td>@Model.UserName</td>
        <td>@Model.UserPWD</td>
    </tr>
    <tr>
        <td>1</td>
        <td>5<br></td>
        <td>3</td>
    </tr>
    <tr>
        <td>1</td>
        <td>2</td>
        <td>3</td>
    </tr>
</table>
@section scripts{
    <script>
        console.log("test");
    </script>
}